//스타일 초기화 시키는 공간


* {
   margin: 0;
   padding: 0;
   font-family: 'Jua-Regular';
   box-sizing: border-box;
}

@font-face {
    font-family: 'Jua-Regular';
    src: url('../assets/fonts/Jua-Regular.ttf') format('truetype');
}

a {
    color : inherit;
    text-decoration: none;
}

button,
input,
select,
textarea {
    border: 0;

    &:focus {
        outline: none;
        box-shadow: none;
    }
}

a,
button {
    cursor: pointer;
}

ul,
ol {
    padding: 0;
    list-style: none;
}

