.chat {
    width: 100%;
    display: flex;
}

.chatOut {
    background-color: #afcbe7;
    width : 100%;
    padding: 10px 20px;
    border-radius: 18px 18px 0px 18px;
    margin: 10px 0px;
    float: right;
}

