.chat-in {
    width: 100%;
    display: flex;
    flex-direction: row;
    margin: 15px 0px;
}

.chatin-img {
    border-radius: 100%;
    width: 30px;
    height: 30px;
}


.id {
    margin-left: 10px;
    font-size: 0.8rem;
}

.chatin-text {
    background-color: #eaeaea;
    width : calc(100%-30px);
    padding: 10px 20px;
    border-radius: 18px 18px 18px 0px;
    margin: 2px 20px;
}
