
.chat {
    width: 50%;
}

.chatOut {
    background-color: #eaeaea;
    width : 50%;
    padding: 10px 20px;
    border-radius: 18px 18px 18px 0px;
}

.chatInText {
    background-color: #afcbe7;
    width : 50%;
    padding: 10px 20px;
    border-radius: 18px 18px 0px 18px;
}

.chatInImg {
    border-radius: 100%;
}