.chat {
    width: 100%;
    display: flex;
    flex-direction: row;

}

.chatInImg {
    border-radius: 100%;
    width: 30px;
    height: 30px;
}

.chatInText {
    background-color: #eaeaea;
    width : calc(100%-30px);
    padding: 10px 20px;
    border-radius: 18px 18px 18px 0px;
    margin: 2px 20px;
}
