.chatRoom{
   width : 100%;
   height: 100%;
   padding: 10px 20px;
   display: flex;
   flex-direction: row;
}

.chatTitle {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 0 60px;
}

.chatTitleInform {
    display: flex;
    justify-content: space-evenly;
}


#line {
    border-left : #c2c2c2 3px solid; 
    height : 1200px;
    float: left;
}

.chatContainer {
    width: 90%;
    
}

.chatting {
    width: 50%;
}

.sendContainer {
    margin: 0px 10px;
    position : fixed;
    bottom : 4%;
    width: 50%;
}
.chatInput {
    width : 80%;
    border: #c2c2c2 1px solid;
    border-radius: 5px;
    height: 40px;
}

.chatButton {
    height : 40px;
}

.chatInform {
    width: 50%;
    padding: 20px 20px;
    
}
.InformPerson {
    height: 25vh;
}

.InformPlace {
    height: 25vh;
}

.InformTime {
    height: 25vh;
}