.chat {
    width: 100%;
}


.chatInText {
    background-color: #afcbe7;
    width : 100%;
    padding: 10px 20px;
    border-radius: 18px 18px 0px 18px;
    margin: 2px 20px;
}

.chatInImg {
    border-radius: 100%;
}