.chatpage {
        position : absolute;
        width : 100%;
        height : 100%;
        z-index : 50;
        background-color : white;
        padding:20px;
        box-sizing : border-box;
        bottom :0;
}

.chatpage-container {
    margin : 10px 30px;
}

.chat-main {
    margin-bottom: 30px;
}

.chat-first-text {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-bottom: 10px;
}

.chat-title {
    font-family: 'bold';
}

.chat-second-text {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    color : #8a8a8a;
}

#chat-column-line {
    border-left : #c2c2c2 3px solid; 
    height: 80vh;
}

.chating {
    overflow : hidden;
    display : flex;
    height : 90%;
    box-sizing : border-box;
}

.chatting {
    width: 50%;
}

.chat-inform {
    width: 50%;
    
}

.inform {
    padding-left: 30px;
}

.inform-person {
    height: 23.8vh;
}

.inform-place {
    height: 23.8vh;
}

.inform-time {
    height: 23.8vh;
}

.inform-button {
    position : fixed;
    bottom : 6%;
    width: 50%;
    display: flex;
    justify-content: center;
}

.application {
    background-color: #ff7d7d;
    color: white;
    margin-right: 10px;
    width: 60%;
    height: 38px;
    &:hover {
        background-color : #cb4d4d;
    }
}

.out {
    background-color:#c2c2c2;
    color: white;
    width: 20%;
    height: 38px;
    &:hover {
        background-color: #7d7d7d;
    }
    word-break:keep-all;
}

//matching chat
.matchingchat {
    width : 50%;
    max-height: 82vh;
}

.matchingchat-container {
    height : 70vh;
    width : 95%;
    overflow : auto;
}

.ballon-container {
    width: 90%;
}

.matchingchat-container::-webkit-scrollbar {
    width: 13px;  /* 스크롤바의 너비 */
    border-radius: 5px;
}

.matchingchat-container::-webkit-scrollbar-thumb {
    height: 5px; /* 스크롤바의 길이 */
    background: #bdbdbd; /* 스크롤바의 색상 */
    
    border-radius: 5px;
}

.matchingchat-container::-webkit-scrollbar-track {
    background: rgba(194, 194, 194, 0.45);  /*스크롤바 뒷 배경 색상*/
}

.send-container {
    position : fixed;
    bottom : 6%;
    width: calc(50% - 60px);
    margin-left: 10px;
}
.chat-input {
    width : 70%;
    border: #c2c2c2 1px solid;
    border-radius: 5px;
    height: 38px;
    position: relative;
    margin-right: 10px;
    padding: 0 10px;
}

.chat-submit-button {
    height : 38px;
    width : 15%;
    position: absolute;
    color : white;
    word-break:keep-all;
}

