header {
    background-color: #8EB4E3;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 10%;
    z-index: 10;
    position: relative;

    li, a, button {
        font-size: 16px;
        color: white;
    }
    
    .logo-box {
        display: flex;
        justify-content: center;
        align-items: center;
    }
    
    .logo {
        width: 30px;
        margin: 0 10px;
    }
    
    .user-box {
        display: flex;
        align-items: center;
    }
    
    .user-icon {
        width: 30px;
        margin : 0 10px;
    }

    .user-account {
        display: flex;
        align-items: center;
        padding: 0 20px;
    }

}

.log-button {
    background-color: white;
    color : #8EB4E3;
    border-radius: 40px 40px / 40px 40px;
}

#logo-title {
    font-family: 'title2';
    font-size: 1.2rem;
}