.postcard {
    background-color : rgba(255, 255, 255, 0.738);
    min-width: 300px;
    min-height: 135px;
    display : flex;
    flex-direction: column;
    padding : 20px 20px;
    box-sizing: border-box;
    z-index: 30;
    margin: 10px 0;
    border-radius: 10px;
    transition: all 0.2s;
    justify-content: center;
}

.postcard:hover {
    box-shadow: 0px 0px 5px gray;
}

.non-matching {
    background-color : rgba(255, 183, 205, 0.738);
}

.postcard-title {
    font-family: 'bold';
    font-size: 1.2rem;
    float : left;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
        -webkit-line-clamp: 2 ;
        -webkit-box-orient: vertical;
}

.postcard-category {
    word-break: keep-all;
}

.postcard-inform {
    margin-top : 5px;
    color : #8a8a8a;
    font-size: 0.8em;
}

.postcard-participate{
    float: left;
    margin-top: 5px;
}