.postCard {
    background-color : rgba(255, 255, 255, 0.838);
    width: 80%;
    display : flex;
    flex-direction: column;
    margin : 5px 10px;
    padding : 20px 20px;
    box-sizing: border-box;
    z-index: 30;
}