.login-box {
    display: flex;
    flex-direction: column;
}

.input-box {
    padding: 10px;
    font-size: 1rem;
    width: 300px;
    border: 3px solid #868e96;
    border-radius: 5px;
}

.signUpText {
    font-size: 1rem;
}

.signUpWord {
    color :  #6892FF;
    font-size: 1.1rem;
    font-weight: bolder;
}

.forgotPassWordText {
    color:  #6892FF;
    text-decoration : underline;
}